.coral-tabBarSecondary.coral-tabBarMyProfile,
.coral-tabBarComments-allComments,
div[class*="StreamContainer-tabBarRow-"] {
  display: none;
}

.coral.coral-authenticated {
      display: flex;
    flex-direction: column-reverse;
}
