.coral-tabBarSecondary.coral-tabBarMyProfile,
.coral-tabBarComments-allComments,
.coral-comment-reportButton,
div[class*="StreamContainer-tabBarRow-"],
i[class*="ReactionButton-icon-"],
i[class*="ReplyButton-icon-"],
i[class*="PermalinkButton-icon-"],
div[class*="Comment-subBar-"],
.coral.coral-unauthenticated .coral-createComment,
.coral.coral-unauthenticated .coral-viewerBox {
  display: none;
}

div[class*="AllCommentsTabContainer-borderedComment"] {
  border-bottom: 0;
}

.coral.coral-comment-content {
  font-family: 'PT Serif', serif;
  color: black;
  font-size: 16px;
}

.coral.coral-authenticated,
.coral.coral-unauthenticated {
  display: flex;
  flex-direction: column-reverse;

  --palette-grey-500: #676565;
  --palette-grey-600: #f4f4f4;
}

.coral-comment-actionBar {
  position: relative;
  left: -4px;
}

.coral-comment-username > span,
.coral.coral-comment-replyButton,
.coral.coral-comment-reactButton,
.coral.coral-comment-shareButton {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  color: #1a56f1;
  font-size: 16px;

  --palette-grey-500: #1a56f1;
  --palette-grey-600: #0032b4;
}

.coral.coral-timestamp > span {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 14px;
}

.coral.coral-comment-replyButton,
.coral.coral-comment-reactButton,
.coral.coral-comment-shareButton {
  font-size: 14px;
}

.coral.coral-tabBar-tab::before {
  display: none;
}
