.coral-tabBarSecondary.coral-tabBarMyProfile,
.coral-tabBarComments-allComments,
div[class*="StreamContainer-tabBarRow-"],
i[class*="ReactionButton-icon-"],
i[class*="ReplyButton-icon-"],
i[class*="PermalinkButton-icon-"] {
  display: none;
}

.coral.coral-authenticated {
  display: flex;
  flex-direction: column-reverse;
}

.coral-comment-username > span,
.coral.coral-comment-replyButton,
.coral.coral-comment-reactButton,
.coral.coral-comment-shareButton {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  color: #1a56f1;
  font-size: 16px;
}

.coral.coral-comment-replyButton,
.coral.coral-comment-reactButton,
.coral.coral-comment-shareButton {
  font-size: 14px;
}

.coral.coral-tabBar-tab::before {
  display: none;
}
